<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="641804488106-90rpknk9kbe5l7m6qge9req5jjgcnqbl.apps.googleusercontent.com.apps.googleusercontent.com">
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="BlazorScoreAppPostgre.styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        window.jsFunctions = {
            alert: function (msg) {
                alert(msg);
            },
            confirm: function (msg) {
                return confirm(msg) == false ? 0 : 1;
            },
        }
    </script>
</body>

</html>
